.tagLine{
    font-size: 4rem;
    text-align: center;
    color:white;
    margin-bottom: 4rem;
    text-decoration: underline solid #01BF71;
    
       
}

.helt{
    text-align: center;
    height: 150vmin;
}
.cht{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

main{
    
}