.tagLine{
    font-size: 4rem;
    text-align: center;
    color:white;
    margin-bottom: 4rem;
    text-decoration: underline solid #01BF71;
    
       
}

.helt{
    text-align: center;
    height: 120vmin;
}
.cht{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}


@media screen and (max-width: 1280px) {
 /* main{
     display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100vh;
 } */
}