*{
    margin: 0;
    padding: 0;
    /* font-family: monospace; */
    box-sizing: border-box;

}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.App{
    text-align: center;
    height: 100vmin;
    
    
}
.line{
    border-left: 3px solid #01bf71;
    height: 160px;
    margin-left: 55px;
    position: fixed;
    margin-top: 550px;
}

.line21{
    border-right: 3px solid #01bf71;
    height: 160px;
    margin-left: 1460px;
    position: fixed;
    margin-top: 550px;
}



.mail{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: rgba(1, 191, 113, 1);
    height: 160px;
    margin-left: 1455px;
    position: fixed;
    margin-top: 350px; 
}

.App-logo{
    height: 40vmin;
    border-radius: 50%;
    margin-bottom: 50px;
    border: 1vh solid #fff; 
}

.App-header{
    /* background-color: #282c34 ; */
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px+ 2vmin);
    color : white;
    padding: 24vh;
    margin-left: 80px;
}

.App-Link{
    color: aqua
}
h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
h1{
    margin-bottom: 5px;
    font-size: 4rem;
}


p{
    line-height: 2em;
    font-size: 3.5em;
}

@media screen and (max-width: 1280px) {

    .App-header{
        text-align: left;
        margin-top: 50px;
        align-items: left;
        padding: 5rem;
    }
    p{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h1{
        font-size: 2.5rem;
    }
    .line21{
        display: none;
    }

    .mail
    {
        display: none;
    }

  }


@media screen and (max-width: 768px) {

    .App-header{
        text-align: left;
        margin-top: 50px;
        align-items: left;
        padding: 3rem;
    }
    p{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    h1{
        font-size: 2rem;
    }
    .line
    {
        display: none;
    }

    .social-icons{
        display: none;
    }

  }


  
  .btn-4 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(1, 191, 113, 0);
  outline: 1px solid;
  outline-color: rgba(1, 191, 113, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-4:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(1, 191, 113, 0.5), 0 0 20px rgba(1, 191, 113, 0.2);
  outline-color: rgba(1, 191, 113, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px rgba(1, 191, 113, 1); 
}

.btn2 {
  color: rgba(1, 191, 113, 1);
  cursor: pointer;
  
    padding-left: 0.8rem;
    
    padding-right: 0.8rem;
  /* // display: block; */
  font-size:16px;
  font-weight: 300;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  margin-right: 25px;
  
/* //   @media(min-width: 400px) {
//     display: inline-block;
//     margin-right: 2.5em;
  
//     &:nth-of-type(even) {
//       margin-right: 0;
//     }
//   } */
  
  @media(min-width: 600px) {
      
    margin: 0 1em 2em;
/*   
//     &:nth-of-type(even) {
//       margin-right: 2.5em;
//     }
    
//     &:nth-of-type(5) {
//       margin-right: 0;
//     } */
    
  }
  
 
  
}

.btn2:hover { text-decoration: none; }


.buttons4 {
    display: flex;
    height: 100%;
    justify-content: left;
    text-align: center;
    width: 100%;
}

.container4 { 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center; 
    
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    
    display:flex;
    flex-direction: row;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    position: fixed;
    margin-top: 250px;
}
.social-icons li {
    margin-left: 50px;
    display:block;
    height: 50px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(1, 191, 113, 0.7);
}
.fa-facebook:hover {
    transform: translateY(-3px);
    transition: .5s;
    border-radius: 50%;
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(1, 191, 113, 0.7);
}
.fa-twitter:hover {
    transform: translateY(-3px);
    transition: .5s;
    border-radius: 50%;
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(1, 191, 113, 0.7);
}
.fa-rss:hover {
    transform: translateY(-3px);
    transition: .5s;
    border-radius: 50%;
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(1, 191, 113, 0.7);
}
.fa-youtube:hover {
    transform: translateY(-3px);
    transition: .5s;
    border-radius: 50%;
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    
    background-color: rgba(1, 191, 113, 0.7);
}
.fa-linkedin:hover {
    transform: translateY(-3px);
    background-color: #0073a4;
    transition: .5s;
    border-radius: 50%;
}
.fa-github {
    
    padding: 10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: rgba(1, 191, 113, 0.7);
}
.fa-github:hover {
    transform: translateY(-3px);
    transition: .5s;
    border-radius: 50%;
    background-color: #5a32a3;
}
